{% extends 'AppBundle:Default:admin.html.twig' %}
{% block content %}
<h2>Категории вопросов</h2>
<table class="table table-bordered table-hover table-striped">
    <thead>
    <th>Ид</th>
    <th>Текст</th>
    </thead>
    <tbody>
    {% for RequestCategory in RequestCategory %}
    <tr>
        <td>{{ RequestCategory.id }}</td>
        <td>{{ RequestCategory.name }}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}